<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @transaction_user.point %>
</p>

<%= link_to 'Edit', edit_transaction_user_path(@transaction_user) %> |
<%= link_to 'Back', transaction_users_path %>
